.mainPage {
    margin-top: 12em;
    margin-bottom: 5em;
  }
  .mb-3 {
    margin-bottom: .5rem!important;
  }
  .form-group{
    margin-bottom: 0.5rem!important;
  }
  .articleBlock{
    padding: 1em 0.1em ;
    white-space: pre-line;
  }
  
  #updateBtn, #submitBtn {
    margin: 5px;
  }

  .editBtn{
    margin: 2px;
    width: 100%;
    padding: 6px;
    
  }
.templateCol, .dateCol, .editCol, .titleCol, .authorCol{
  text-align: center;
}



   /* Pulse */
   @-webkit-keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  @keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  .hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }