
.navMenu{
    color: white;
}
/* #navAbout:hover{
    text-decoration: none;
} */

#navAbout, #navPort, #navContact, #stories{
    
    margin: 0 10px;
    line-height: 50px;
    height: 50px;
    /* margin-right: 15px; */
    position: relative;
    
    
    
}

#navAbout::after, #navPort::after, #navContact::after, #stories::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: yellow;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    
}
#navAbout:hover::after, #navPort:hover::after, #navContact:hover::after, #stories:hover::after  {
    /* content: ' ';
    background-color: aquamarine;
    padding: 5px;
    display: block; */
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    

}

 #navAbout:hover{
    color: white;
    /* text-decoration-color: white; */
    
 }
.nav-item a:hover{
    text-decoration: none;
}

.navDiv {
    width: 100%;
    height: 50px;
    
}

.navbar-brand {
    /* margin-left: 15px; */
    
    display: block;
    padding: .5em 1.1em;
    font-size: 18px;
    /* width: 5em;
    height: 5em; */
    text-align: center;
    background-color: #329760
    
}
.navbar {
    opacity: .95;
    

}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-dark .navbar-brand {
    /* border-color:  yellow; */
    border-style: double;
    border-width: 4px;
    /* padding: 1rem; */
    margin: 1em;
    margin-left: 3rem;
    line-height: 1.2;
    
}

.navTop{
    background-image: url("./alza_header.jpeg");
}

@media only screen and (max-width: 600px) {
    #navAbout:hover::after, #navPort:hover::after, #navContact:hover::after  {
        
        visibility: hidden;
    }
  }